<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>EsteticienController</servlet-name>
        <servlet-class>com.fpmislata.servlets.EsteticienController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EsteticienController</servlet-name>
        <url-pattern>/EsteticienController</url-pattern>
        <url-pattern>/AltaCliente</url-pattern>
        <url-pattern>/AltaTratamiento</url-pattern>
        <url-pattern>/ConcertarCita</url-pattern>
        <url-pattern>/EliminarCliente</url-pattern>
        <url-pattern>/EliminarTratamiento</url-pattern>
        <url-pattern>/ListarCitas</url-pattern>
        <url-pattern>/ListarClientes</url-pattern>
        <url-pattern>/ListarTratamientos</url-pattern>
        <url-pattern>/ModificarCliente</url-pattern>
        <url-pattern>/ModificarTratamiento</url-pattern>
        <url-pattern>/ListarProductos</url-pattern>
        <url-pattern>/ListarVentas</url-pattern>
        <url-pattern>/VentaProductos</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
